@font-face {
	font-family: ifont;
	src: url(ifont.ttf)
}

.phone {
	background: url(img/coque/iphone.png);
	right: 0;
	bottom: 0;
	width: 500px;
	height: 1000px;
	background-size: cover;
	overflow: hidden
}

.alt,
.phone,
.screen {
	position: absolute
}

.screen {
	background: url(img/background/iphone.jpg);
	background-size: cover;
	bottom: 190px;
	left: 44px;
	right: 39px;
	z-index: -10;
	top: 100px;
	border-radius: 30px;
	display: inline;
	overflow: hidden
}

#ytimg {
	width: 100px;
	border-radius: 30px;
	margin-left: 10px;
	top: 8;
	position: relative;
	height: 100px;
	min-width: 100px;
	background: url(img/youtube.png);
	background-size: cover;
	background-position: center center
}

#youtube textarea {
	margin-top: 15px;
	margin-left: -5px;
	width: 95%;
	height: 35px;
	font-size: 24px;
	background: 0 0;
	border: 0;
	resize: none;
	overflow: hidden
}

#ytimg img {
	width: 35px;
	position: absolute;
	right: -5px;
	bottom: -5px;
	border-radius: 30px
}

#youtube h1 {
	font-weight: unset;
	font-family: ifont;
	margin-bottom: 5px;
	font-size: 22px
}

.alt {
	bottom: 0;
	margin-left: 10px
}

.alt img {
	margin-left: 4px;
	margin-right: 4px
}

.apps,
.bildirim span {
	margin-top: 30px;
	position: absolute
}

.apps img,
.bildirim img,
.bildirim p {
	margin-left: 10px
}

#twitterpostarea,
b {
	font-family: sans-serif
}

b {
	color: #fff;
	position: absolute;
	left: 20px;
	bottom: -15px;
	text-shadow: 0 0 20px #000
}

.twitter {
	background: #28aae1;
	width: 100%;
	z-index: 10;
	margin-top: 20px
}

.twitter_loading {
	display: none;
	margin-top: 40%
}

.twitter_header {
	width: 100%;
	background: #fafafa;
	height: 60px
}

.sag,
.ustbar {
	position: absolute
}

.ustbar {
	width: 100%;
	height: 20px;
	color: #fff;
	font-family: ifont
}

.tmenu a,
.twitter button {
	display: block;
	background: #fff
}

.twitter button {
	padding: 15px 20px;
	font-size: 30px;
	position: absolute;
	font-weight: 500;
	right: 20px;
	border: 0;
	border-radius: 30px
}

.sag {
	right: 0;
	margin-top: 2px;
	padding: 8px;
	margin-right: 10px
}

.sol,
.tmenu {
	position: absolute;
	margin-left: 10px
}

.sol {
	left: 0;
	padding: 8px
}

#twitterpostarea {
	width: 95%;
	margin: 10px;
	border-radius: 30px;
	font-size: 24px;
	border: 0;
	padding: 8px;
	height: 100px
}

* {
	font-family: ifont
}

.tmenu {
	bottom: 0;
	width: 95%;
	margin-bottom: 7px
}

.tmenu a {
	text-align: center;
	padding: 5px;
	font-size: 32px;
	text-decoration: none;
	border-bottom: 1px solid #e8e8e8;
	color: #7f7f7f;
	font-weight: 100
}

.bildirim {
	width: 95%;
	background: rgb(255 255 255/77%);
	height: 120px;
	margin-top: 70px;
	margin-left: 12px;
	border-radius: 25px
}

.youtube {
	width: 95%;
	background: rgb(255 255 255/77%);
	height: 120px;
	margin-top: 70px;
	margin-left: 12px;
	border-radius: 25px
}


.arama {
	width: 95%;
	background: rgb(255 255 255/77%);
	height: 120px;
	margin-top: 70px;
	margin-left: 12px;
	border-radius: 25px
}

.bildirim img {
	width: 30px;
	margin-top: 10px
}

.bildirim span {
	margin-left: 5px;
	font-size: 24px;
	margin-top: 12px;
	color: rgb(103 103 103/48%)
}

.bildirim p {
	margin-bottom: 0;
	margin-top: 5px;
	font-weight: 500
}

.bildirim textarea {
	margin-left: 10px;
	margin-top: 0;
	width: 95%;
	height: 35px;
	font-size: 24px;
	background: 0 0;
	border: 0;
	resize: none;
	overflow: hidden
}